{% extends 'base.html' %}
{% load static %}

{% block title %}Film / TV{% endblock title %}
{% block content %}

<div id="section_filmtv" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class=""><h2>Film and Television</h2></div>
              <p>
                Yes, I am a famous. Okay, not really. I was in theatre in high school and later in the local community in my free time.
                I loved going to the movies and worked at movie theatre around Austin during high School.
                I thought my interest would only ever be a hobby. That all changed around 1992. Over the next couple of years I worked on film
                and television in Utah and Texas. The films I worked on were different and unique: a television series, Movie of The Week, 
                a mini-series, and a Big Studio movie. Along with a few commercials and videos I kept pretty busy.
              </p>
            </div>
        </div>
        <hr />

        <!-- DOA ENTRY -->
        <div class="row" id="film-doa">
            <div class="col-md-9">
                <!-- title -->
                <div class="">
                    <h2 class="h4 mb-0">
                        <a href="https://www.imdb.com/title/tt0094933/" target="_blank" class="text-dark fw-medium">
                            D.O.A. - 1988
                        </a>
                    </h2>
                    <!-- publish date -->
                    <span class="text-muted">
                        <address>
                            Starring: <a href="https://www.imdb.com/name/nm0000598/" target="_blank">Dennis Quaid</a>
                            , <a href="https://www.imdb.com/name/nm0000212/" target="_blank">Meg Ryan</a>
                        </address>
                    </span>
                </div>
                <!-- content preview -->
                <div class="">
                    <p>
                        Do you recognize the famous actor? That's me in the center with the rolled-up, gray shirt and smile. And who is that sleeping to my left?
                        The now famous and prolific <a href="http://www.imdb.com/name/nm0370035/" target="_blank">John Hawkes</a> in one of his first speaking roles. The movie is
                        <a href="http://www.imdb.com/title/tt0094933/" target="_blank">D.O.A.</a> 1988 with Dennis Quaid and Meg Ryan. A friend and I went to the casting call and
                        we both got in the scene (she's the girl with purple hair). We ended up having lunch with Dennis Quaid and Meg Ryan that day. As an extra you usually have a
                        boring time but this was my first time and I thought it was fun. It took the entire day and I talked to John some, just passing the time.
                        He seemed like a nice guy. He's one of my favorite actors and it's been neat following his career.
                    </p>
                    <a href="https://www.imdb.com/name/nm0298205/" target="_blank">
                        <img style="max-width: 700px;" class="bg-white mb-4 border border-light shadow-md d-inline-flex justify-content-center align-items-center" src="{% static 'images/DOA_john_hawkes.jpg' %}" alt="D.O.A.">
                    </a>                                
                </div>
            </div>
            <div class="col-md-3">
                <a href="https://www.imdb.com/title/tt0094933/" target="_blank">
                    <img class="float-end bg-white mb-4 border border-light shadow-md d-inline-flex justify-content-center align-items-center" 
                    src="{% static 'images/doa_1988.jpg' %}" 
                    alt="D.O.A."
                    >
                </a>
            </div>
        </div>
        <hr />

        <!-- CROSSROADS ENTRY -->
        <div class="row" id="film-crossroads">
            <div class="col-md-9">
                <!-- title -->
                <div class="">
                    <h2 class="h4 mb-0">
                        <a href="http://www.imdb.com/name/nm0527167/" target="_blank" class="text-dark fw-medium">
                            Crossroads (Television Series) - 1993
                        </a>
                    </h2>
                    <!-- publish date -->
                    <span class="text-muted">
                        <address>
                            Starring: <a href="http://www.imdb.com/name/nm0001810/" target="_blank">Robert Urich</a>
                            , <a href="http://www.imdb.com/name/nm0416390/" target="_blank">Dalton James</a>
                        </address>
                    </span>
                </div>
                <!-- content preview -->
                <div class="">
                    <p>
                        This was a television series filmed in Salt Lake City, UT. I started out as a crew driver and ended up being Robert Urich's driver. He was a great person
                        and fun to be around. Everyone who was around him liked him. Unfortunately, the show only ran one year.
                    </p>
                    <p>
                        One of the cool things is that our Unit Production manager <a href="http://www.imdb.com/name/nm0527167/" target="_blank">Tom Luse</a> is a long time producer
                        whose credits also includes The Walking Dead!
                    </p>
                    <p>
                        Tom! I'm dying to be a zombie!
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <a href="http://www.imdb.com/title/tt0103392/" target="_blank">
                    <img class="float-end bg-white mb-4 border border-light shadow-md d-inline-flex justify-content-center align-items-center" 
                    src="{% static 'images/crossroads_1993.jpg' %}" 
                    alt="Crossroads - 1993"
                    >
                </a>
            </div>
        </div>
        <hr />

        <!-- MAN3WIVES ENTRY -->
        <div class="row" id="film-man3wives">
            <div class="col-md-9">
                <!-- title -->
                <div class="">
                    <h2 class="h4 mb-0">
                        <a href="http://www.imdb.com/title/tt0107503/" target="_blank" class="text-dark fw-medium">
                        The Man with Three Wives - 1993
                        </a>
                    </h2>
                    <!-- publish date -->
                    <span class="text-muted">
                        <address>
                        Starring: <a href="http://www.imdb.com/name/nm0000977/" target="_blank">Beau Bridges</a>
                        <a href="http://www.imdb.com/name/nm0001118/" target="_blank">Pam Dawber</a>,
                        <a href="http://www.imdb.com/name/nm0005088/" target="_blank">Joanna Kerns</a>,
                        <a href="http://www.imdb.com/name/nm0516049/" target="_blank">Kathleen Lloyd</a>.
                        </address>
                    </span>
                </div>
                <!-- content preview -->
                <div class="">
                    <p>
                        This was a nice movie we filmed in Salt Lake City, UT.
                        It was exciting to meet the cast: I spent my time
                        shuttling the actors from their hotel to the set. The cast and crew were fantastic. A nice time by all working on it.
                    </p>
                    <p>
                        What I remember the most was my time with Joanna Kerns. I'd pick her up every morning and we always had a nice time talking.
                        She was a very nice lady and fun. Her smile lit up the room. Or, my Bronco, which is where I spent most my time.
                    </p>
                    <p>
                        The filming was six or eight weeks late in the year so It snowed a lot. Towards the end of the shoot I spent a week
                        helping the crew for The Stand set up offices as they were starting production. I ended up working on the The Stand after
                        this show ended.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                  <a href="http://www.imdb.com/title/tt0107503/" target="_blank">
                    <img class="float-end bg-white mb-4 border border-light shadow-md d-inline-flex justify-content-center align-items-center" 
                    src="{% static 'images/themanwiththreewives_1993.jpg' %}" 
                    alt="The Man with Three Wives - 1993"
                  >
                </a>
            </div>
        </div>
        <hr />

        <!-- THE STAND ENTRY -->
        <div class="row" id="film-thestand">
            <div class="col-md-9">
                <!-- title -->
                <div class="">
                    <h2 class="h4 mb-0">
                        <a href="http://www.imdb.com/title/tt0108941/" target="_blank" class="text-dark fw-medium">
                            The Stand - 1994
                        </a>
                    </h2>
                    <!-- publish date -->
                    <span class="text-muted">
                        <address>
                            Starring: 
                            <a href="http://www.imdb.com/name/nm0000507/" target="_blank">Rob Lowe</a>
                            , <a href="http://www.imdb.com/name/nm0000641/" target="_blank">Gary Sinise</a>
                            , <a href="http://www.imdb.com/name/nm0000208/" target="_blank">Molly Ringwald</a>
                            , <a href="http://www.imdb.com/name/nm0792177/" target="_blank">Jamey Sheridan</a>
                            , and many more..
                        </address>
                    </span>
                </div>
                <!-- content preview -->
                <div class="">
                    <p>
                        Stephen King. Need I say more. To get to work on this project was beyond a dream come true. This was a long shoot that spanned from late 1993 to mid 1994. It was fun, cold at times,
                        and all over the place: Utah, New York, and Nevada.
                    </p>
                    <p>
                        I was one of the first local crew hired. It was such an amazing experience over the next year. I can't name all the people I met - everyone in the cast.
                        I wish we would have had smart phones back then. We filmed all over Utah. It was great weather most of the time and beautiful scenery. We travelled around
                        like gypsies. I loved it.
                    </p>
                    <p>
                        By the time production left Utah I was ready for a break. I came back to Texas and thought I would settle in Austin for a while. But I was here only a couple of weeks before I got a call for a new film in Texas.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                  <a href="http://www.imdb.com/title/tt0108941/" target="_blank">
                    <img class="float-end bg-white mb-4 border border-light shadow-md d-inline-flex justify-content-center align-items-center" 
                    src="{% static 'images/thestand_1994.jpg' %}" 
                    alt="The Stand - 1994"
                  >
                </a>
            </div>
        </div>
        <hr />

        <!-- BAD GIRLS ENTRY -->
        <div class="row" id="film-badgirls">
            <div class="col-md-9">
                <!-- title -->
                <div class="">
                    <h2 class="h4 mb-0">
                        <a href="http://www.imdb.com/title/tt0109198/" target="_blank" class="text-dark fw-medium">
                            Bad Girls - 1994
                        </a>
                    </h2>
                    <!-- publish date -->
                    <span class="text-muted">
                        <address>
                            Starring: 
                            <a href="http://www.imdb.com/name/nm0000106/" target="_blank">Drew Barrymore</a>
                            , <a href="http://www.imdb.com/name/nm0000656/" target="_blank">Madeleine Stowe</a>
                            , <a href="http://www.imdb.com/name/nm0000524/" target="_blank">Mary Stuart Masterson</a>
                            , <a href="http://www.imdb.com/name/nm0000510/" target="_blank">Andie MacDowell</a>
                        </address>
                    </span>
                </div>
                <!-- content preview -->
                <div class="">
                    <p>
                        Well you can't get any better than beautiful girls with guns. This jewel from Twentieth Century Fox Film Corporation was my last film.
                    </p>
                    <p>
                        The crew lived at Fort Clark, an old Civil War base. It was a mix-mash of tenaments; some barrack type housing, row house, and a few nicer cottages.
                        I lived in a small two bedroom house with another production assistant. For weekends off we went to Del Rio and
                        Acuna across the border. Back then it was actually alot of fun. More than I care to remember. We spent most of our time hanging out,
                        playing cards and golf.
                    </p>
                    <p>
                        Some of the more interesting moments... Like, the entire wardrobe department burning to ashes. Yeah, that was interesting. I remember standing at the edge of the road with the fire volunteer from Bracketville
                        TX, watching as the building became engulfed in flames. He was a local, probably in his sixties, looked a little excited and sad at the same time. I didn't know what to think. Wasn't much we could do but watch the fire shoot out
                        the windows and roof. He had a water hose in his hands strung up from the main office, another cinder block building we used as temporary offices. It was useless. We didn't have the pressure to blow leaves off the gravel.
                        We bowed and shook our heads. It was a sad sight. "That's a burner, alright..". He whistled. I agreed. It was a sight. Not much was left by the time the Del Rio fire department showed
                        up. They were able to save the structure itself but not much else. Still, we had them back up and running within a couple of days. We gutted the place and ran new electric cables. Brought in fans, tables, and
                        new sewing machines.
                    </p>
                    <p>
                        The shoot and crew were a lot of fun. For me, the schedule was grueling, mostly 15 or 17 hour days. Night shoots could run days together.
                        My last couple of weeks were 20 hour days. Afterwards, I decided it was time for a change. I came home to Austin to go back to school.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                  <a href="http://www.imdb.com/title/tt0109198/" target="_blank">
                    <img class="float-end bg-white mb-4 border border-light shadow-md d-inline-flex justify-content-center align-items-center" 
                    src="{% static 'images/badgirls_1994.jpg' %}" 
                    alt="Bad Girls - 1994"
                  >
                </a>
            </div>
        </div>
        <hr />        

        <!-- OLD INFO -->

    </div>
</div>


{% endblock %}