{% extends 'base.html' %}
{% load static %}

{% block title %}Resume{% endblock title %}
{% block content %}

<div id="section_resume" class="section">
    <div class="container">

        <!-- SEMPER VALENS ENTRY -->
        <div class="row g-xl-12">
            <div class="col-12 mb-2" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0">

                <div class="row g-xl-5">
                    <div class="col-12 col-lg-6 mb-3 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0">
                        <h4>Semper Valens Solutions, Inc.</h4>
                        <ul class="list-unstyled p-0 m-0 w-100">
                            <li>2413 Glenn Drive</li>
                            <li>Canyon Lake, Texas, 78133</li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-6 mb-3 order-1 order-lg-2">
                        <a href="https://sempervalens.com/" target="_blank">
                            <img class="float-end" style="width: 200px;" src="{% static 'images/sv-logo.png' %}" alt="Semper Valens Solutions, Inc.">
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="mx-12">
                        <!-- heading -->
                        <h3 class="h5 fw-bold mb-1">
                            Software Engineer
                            <span style="font-size: 70%; padding-left: 10px; float: right;">July 5, 2021 - Present </span>
                        </h3>
                        <!-- text -->
                        <p>
                            Software Developer for Accenture’s JCC2 Battle Management application team.  Develop cloud centric web-based applications and RESTful webservices, 
                            deployed to OpenShift containers. Frontend NodeJS/ReactJS Web Application deployed in a Single Page Application architecture with backend developed 
                            in Java using SpringBoot RESTful web services deployed to Docker Containers locally and Red Hat OpenShift images remotely.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="mx-12">
                        <!-- heading -->
                        <h5>Technologies</h5>
                        <ul class="list-unstyled text-indigo-900">
                            <li><i class="fi fi-check"></i> Java, React, Javascript, OpenShift</li>
                            <li><i class="fi fi-check"></i> C#, OOP, DevOps, Azure portal</li>
                            <li><i class="fi fi-check"></i> Web Development, ASP, Razor, MVC</li>
                            <li><i class="fi fi-check"></i> SQL Server, Postgres, JSON, XML</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <!-- HOMEPOINT ENTRY -->
        <div class="row g-xl-12">
            <div class="col-12 mb-2" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0">

                <div class="row g-xl-5">
                    <div class="col-12 col-lg-6 mb-3 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0">
                        <h4>Home Point Financial Corporation</h4>
                        <ul class="list-unstyled p-0 m-0 w-100">
                            <li>11511 Luna Road</li>
                            <li>Farmers Branch, Texas, 75234</li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-6 mb-3 order-1 order-lg-2">
                        <a href="https://www.homepointfinancial.com/" target="_blank">
                            <img class="float-end" style="width: 200px;" src="{% static 'images/homepoint-logo.png' %}" alt="Home Point Financial Corporation">
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="mx-12">
                        <!-- heading -->
                        <h3 class="h5 fw-bold mb-1">
                            Software Engineer
                            <span style="font-size: 70%; padding-left: 10px; float: right;">September 8, 2020 - June 18 2021</span>
                        </h3>
                        <!-- text -->
                        <p>
                            Develop Microsoft based solutions: MVC, Web API, SQL Server, ASP.NET, .NET Core. Provide production support for customer facing systems. 
                            Database administration, index tuning, DDL, SQL, and stored procedures. Code Analysis, Reviews. Batch processing.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="mx-12">
                        <!-- heading -->
                        <h5>Technologies</h5>
                        <ul class="list-unstyled text-indigo-900">
                            <li><i class="fi fi-check"></i> C#, OOP, Javascript, DevOps, Azure portal</li>
                            <li><i class="fi fi-check"></i> Web Development, ASP, Razor, MVC</li>
                            <li><i class="fi fi-check"></i> SQL Server, JSON, XML</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <!-- SIG SCI ENTRY -->
        <div class="row g-xl-12">
            <div class="col-12 mb-2" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0">

                <div class="row g-xl-5">
                    <div class="col-12 col-lg-6 mb-3 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0">
                        <h4>Signature Science LLC</h4>
                        <ul class="list-unstyled p-0 m-0 w-100">
                            <li>8329 N. Mopac Expressway</li>
                            <li>Austin, Texas, 78759</li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-6 mb-3 order-1 order-lg-2">
                        <a href="http://signaturescience.com/" target="_blank">
                            <img class="float-end" style="width: 200px;" src="{% static 'images/sigci-logo.png' %}" alt="Signature Science LLC">
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="mx-12">
                        <!-- heading -->
                        <h3 class="h5 fw-bold mb-1">
                            Full-Stack Developer
                            <span style="font-size: 70%; padding-left: 10px; float: right;">March 19, 2018 - September 2, 2020</span>
                        </h3>
                        <!-- text -->
                        <p>
                            Develop solutions for a wide variety of projects for data entry, analysis, and reporting. Provide programing and database services for government projects, 
                            developing new solutions or maintaining legacy applications. Manage and develop corporate databases and applications. Provide technical assistance and support.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="mx-12">
                        <!-- heading -->
                        <h5>Technologies</h5>
                        <ul class="list-unstyled text-indigo-900">
                            <li><i class="fi fi-check"></i> C#, OOP, Javascript, VB.Net</li>
                            <li><i class="fi fi-check"></i> Web Development, ASP.Net, Webforms, Razor, MVC</li>
                            <li><i class="fi fi-check"></i> Winforms, WPF, Client-server and multi-tier.</li>
                            <li><i class="fi fi-check"></i> MS Access, Excel, Word VBA</li>
                            <li><i class="fi fi-check"></i> Oracle, SQL Server, Desktop Databases</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <!-- TEA ENTRY -->
        <div class="row g-xl-12">
            <div class="col-12 mb-2" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0">

                <div class="row g-xl-5">
                    <div class="col-12 col-lg-6 mb-3 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0">
                        <h4>Texas Education Agency</h4>
                        <ul class="list-unstyled p-0 m-0 w-100">
                            <li>1701 N. Congress Avenue</li>
                            <li>Austin, Texas, 78701</li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-6 mb-3 order-1 order-lg-2">
                        <a href="http://tea.texas.gov/" target="_blank">
                            <img class="float-end" width="100px" src="{% static 'images/tea-seal.png' %}" alt="Texas Education Agency">
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="mx-12">
                        <!-- heading -->
                        <h3 class="h5 fw-bold mb-1">
                            Programmer V
                            <span style="font-size: 70%; padding-left: 10px; float: right;">May 15, 2014 – March 7 2018</span>
                        </h3>
                        <!-- text -->
                        <p>
                            Developer for FSP (Federal School Program) and AskTED (Texas School Directory) applications. Agile methodology with four-to-six week sprints.
                            Analyze software requirements, design and code solutions. Train and assist junior team members, prioritize tasks. Oracle and SQL Server databases
                            with C# web development. Multiple connected system using a variety of technologies. Provide day-to-day technical assistance to program area
                            and IT staff.
                        </p>
                        <p>
                            FSP is an ASP.NET forms solution with over seventy projects and approximately two million lines of code. The system is designed using an MVP pattern which introduces 
                            controllers, views, dependency injection, and nHibernate into a Web Forms environment. The database is Oracle with feeds from DB2 and SQL Server. Users perform data 
                            imports from xml, csv, and xls formats. The system comprises seventeen different modules for school finance, ranging from Bonds and Taxes to Student Enrollment and 
                            Transportation. All Texas School Districts and Charter Schools rely on the FSP application to calculate over 50 billion dollars a year worth of funding for their schools. 
                            The system also provides an advanced reporting system that heavily relies on Crystal Reports and ORACLE stored procedures development.
                        </p>
                        <p>
                            The AskTED applications is a contact directory system. The solution is built as a standard ASP.NET Web Forms Application with a SQL Server backend. 
                            The AskTED data is a cornerstone for several applications at TEA, including FSP.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="mx-12">
                        <!-- heading -->
                        <h5>Technologies</h5>
                        <ul class="list-unstyled text-indigo-900">
                            <li><i class="fi fi-check"></i> C#, OOP, Javascript</li>
                            <li><i class="fi fi-check"></i> ASP.Net Webforms, XML/JSON Web Services, REST Api</li>
                            <li><i class="fi fi-check"></i> AJAX, jQuery, plugins</li>
                            <li><i class="fi fi-check"></i> Spring Dependency Injection</li>
                            <li><i class="fi fi-check"></i> nHibernate</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <!-- PUC ENTRY -->
        <div class="row g-xl-12">
            <div class="col-12 mb-2" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0">

                <div class="row g-xl-5">
                    <div class="col-12 col-lg-6 mb-3 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0">
                        <h4>Public Utility Commission</h4>
                        <ul class="list-unstyled p-0 m-0 w-100">
                            <li>1701 N. Congress Avenue</li>
                            <li>Austin, Texas, 78701</li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-6 mb-3 order-1 order-lg-2">
                        <a href="http://puc.texas.gov/" target="_blank">
                            <img class="float-end" width="100px" src="{% static 'images/puc-seal.png' %}" alt="Public Utility Commission">
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="mx-12">
                        <!-- heading -->
                        <h3 class="h5 fw-bold mb-1">
                            Programmer V
                            <span style="font-size: 70%; padding-left: 10px; float: right;">
                                July 15, 2005 - May 14, 2014 and Dec 16, 1999 - Sep 01, 2004 <span class="text-primary" style="font-size: small">(15 yr, 4 mo)</span>
                            </span>
                        </h3>
                        <!-- text -->
                        <p>
                            Lead Developer and Database Administrator. Manage SDLC and small development team for agency applications. Design, code, and maintain
                            approximately thirty agency applications with over a million lines of code. Data model consists of multiple databases with over four
                            hundred tables and objects. Extensive work with Windows API and Services, batch processing, and web development. Analyze customer needs
                            and produce software requirements. Evaluate and recommend new software. Train and evaluate junior developers, prioritize work. Maintain
                            education of industry trends and new technologies.
                        </p>
                        <p>
                            Windows Desktop applications using VB6, Delphi, and Microsoft Winforms.
                            Web applications using ASP.NET, Web Services, classic ASP pages, and Perl.
                            Automated public complaints process to a paperless workflow and streamlined investigations.
                            Developed utilities to process multiple tasks for agency needs – ranging from document management, scanning, report generation and distribution, and data collection. Utilizes a variety of technologies: FTP, Web Services, IMAP, SMTP, and MAPI for processing emails through MS Exchange.
                            Custom built auto-update feature for all windows applications.
                        </p>
                        <p>Custom built auto-update feature for all windows applications.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="mx-12">
                        <!-- heading -->
                        <h5>Technologies</h5>
                        <ul class="list-unstyled text-indigo-900">
                            <li><i class="fi fi-check"></i> VB6 and Delphi windows application development. DevExpress, nSoftware, ComponentOne</li>
                            <li><i class="fi fi-check"></i> ASP.Net MVC, Webforms, ASP Classic web development. Telerik, Ext JS</li>
                            <li><i class="fi fi-check"></i> XML/JSON Web Services, REST Api</li>
                            <li><i class="fi fi-check"></i> C#, VB, Pascal, Perl, Javascript</li>
                            <li><i class="fi fi-check"></i> SQL Server Database</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <!-- TWC ENTRY -->
        <div class="row g-xl-12">
            <div class="col-12 mb-2" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0">

                <div class="row g-xl-5">
                    <div class="col-12 col-lg-6 mb-3 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0">
                        <h4>Texas Workforce Commission</h4>
                        <ul class="list-unstyled p-0 m-0 w-100">
                            <li>101 E 15th St</li>
                            <li>Austin, Texas, 78778</li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-6 mb-3 order-1 order-lg-2">
                        <a href="http://twc.texas.gov/" target="_blank">
                            <img class="float-end" width="100px" src="{% static 'images/twc-seal.png' %}" alt="Texas Workforce Commission">
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="mx-12">
                        <!-- heading -->
                        <h3 class="h5 fw-bold mb-1">
                            Programmer VI
                            <span style="font-size: 70%; padding-left: 10px; float: right;">
                                September 01, 2004 – July 15, 2005
                            </span>
                        </h3>
                        <!-- text -->
                        <p>
                            Reports Developer for TWIST application. The TWIST application is a multi-tier reporting application developed using Sybase EAServer, CORBA components, 
                            PowerBuilder, and JSP pages. Report design using PowerBuilder data windows with Sybase stored procedures. PCVS Version control, BMC SQL Programmer, 
                            and Perl scripting. Analysis, design, coding, and user interface design for web portal.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="mx-12">
                        <!-- heading -->
                        <h5>Technologies</h5>
                        <ul class="list-unstyled text-indigo-900">
                            <li><i class="fi fi-check"></i> Powerbuilder UI and middle-tier logic</li>
                            <li><i class="fi fi-check"></i> JSP, Javascript</li>
                            <li><i class="fi fi-check"></i> Sybase EAServer data warehouse</li>
                            <li><i class="fi fi-check"></i> SQL and TSQL stored procedures for reports</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>        

        <!-- DPS ENTRY -->
        <div class="row g-xl-12">
            <div class="col-12 mb-2" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0">

                <div class="row g-xl-5">
                    <div class="col-12 col-lg-7 mb-3 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0">
                        <h4>Texas Department of Public Safety</h4>
                        <ul class="list-unstyled p-0 m-0 w-100">
                            <li>5805 North Lamar Blvd.</li>
                            <li>Austin, Texas, 78752</li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-5 mb-3 order-1 order-lg-2">
                        <a href="http://dps.texas.gov/" target="_blank">
                            <img class="float-end" width="100px" src="{% static 'images/dps-seal.png' %}" alt="Texas Department of Public Safety">
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="mx-12">
                        <!-- heading -->
                        <h3 class="h5 fw-bold mb-1">
                            Programmer Analyst II
                            <span style="font-size: 70%; padding-left: 10px; float: right;">
                                October 01, 1996 - December 10, 1999
                            </span>
                        </h3>
                        <!-- text -->
                        <p>
                            Develop VB6 and Delphi client/server database applications. Responsible for all aspects in the SDLC from initial design phase through testing and implementation. Create database objects, rules, and definitions. Develop applications for use with databases: data entry applications, data transfer utilities using ODBC and FTP functionalities. Work directly with the customer to design UI and business requirements. Both the TR1 and LW3 systems helped pioneer DPS to the digital age.
                            Texas Ranger Criminal Reporting System (TR1) database. Designed and implemented solution for over 100 Texas Rangers state wide. Converted hand-written Texas Ranger Criminal report into a forms application and database residing on laptops. Reports required specifications for submitting criminal cases to the court system.
                            TR1 Intranet Web Application - web interface for querying TR1 Report Data. Designed for district and central office personnel to view statistics and preview html version of reports.
                         </p>
                        <p>
                            State Inspection Database System (SIDS): LW3 Application for License & Weight Division. Client/server and stand-alone database application for License and Weight Troopers - over 400 users distributed across the state. Developer for various database systems used by Accounting, Motor Carriers, Traffic Law Enforcement.
                            Applications deployed to laptop and desktop computers using MS Access, VB6, and Delphi. Allowed users to remotely enter reports and upload data using RAS connections to central offices. Features also allowed for imports/exports to spanning disks. Data warehouse in SQL Server with sync to mainframe. Complex form and reporting requirements.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="mx-12">
                        <!-- heading -->
                        <h5>Technologies</h5>
                        <ul class="list-unstyled text-indigo-900">
                            <li><i class="fi fi-check"></i> Visual Basic, Delphi, MS Access application development</li>
                            <li><i class="fi fi-check"></i> HTML, ASP, JavaScript for Reporting</li>
                            <li><i class="fi fi-check"></i> MS Sequel Server 6.5 data warehouse</li>
                            <li><i class="fi fi-check"></i> SQL and TSQL stored procedures</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr> 

        <!-- DFPS ENTRY -->
        <div class="row g-xl-12">
            <div class="col-12 mb-2" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0">

                <div class="row g-xl-5">
                    <div class="col-12 col-lg-7 mb-3 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0">
                        <h4>Texas Department of Protective & Regulatory Services</h4>
                        <ul class="list-unstyled p-0 m-0 w-100">
                            <li>701 W. 51st St</li>
                            <li>Austin, Texas, 78751</li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-5 mb-3 order-1 order-lg-2">
                        <a href="https://www.dfps.texas.gov/" target="_blank">
                            <img class="float-end" width="100px" src="{% static 'images/dfps-seal.png' %}" alt="Texas Department of Protective & Regulatory Services">
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="mx-12">
                        <!-- heading -->
                        <h3 class="h5 fw-bold mb-1">
                            System Support Specialist III
                            <span style="font-size: 70%; padding-left: 10px; float: right;">
                                June 20, 1994 - October 01, 1996
                            </span>
                        </h3>
                        <!-- text -->
                        <p>
                            Provide technical and administrative support for telecommunications and leasing. Develop, design, and maintain leasing database using MS Access. Draw agency 
                            floor plans using the AUTOCAD 12 system. Pay monthly telecommunications bills using APS system. Investigate and solve billing discrepancies. Assemble and disassemble 
                            Steelcase modular furniture. Provide correspondence between agency and telephone services. Administrative duties and filing. Strong organization skills and 
                            time management skills.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="mx-12">
                        <!-- heading -->
                        <h5>Technologies</h5>
                        <ul class="list-unstyled text-indigo-900">
                            <li><i class="fi fi-check"></i> AUTOCAD 12 floorplan and cubicle design</li>
                            <li><i class="fi fi-check"></i> MS Access, Paradox, Excel for database and reports</li>
                            <li><i class="fi fi-check"></i> WordPerfect 5.1, Microsoft Word for word processing</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    <!-- Left Inner -->
    </div>
</div>

{% endblock %}